@import 'styles/helpers';

.layout-basic {
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  &-sider {
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 256px;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.15);
    &-header {
      display: flex;
      align-items: center;
      background: #002140;
      height: 64px;
      padding-left: 24px;
    }
    &-logo {
      height: 48px;
      width: 48px;
    }
    &-appName {
      color: #ffffff;
      font-weight: bold;
      font-size: 20px;
    }
  }

  &-content {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: $layout-body-background;
  }
  &-header {
    width: 100%;
    height: 64px;
    background: $grey-1;
    box-shadow: $shadow-1-down-light;
    display: flex;
    justify-content: flex-end;
    padding-right: 12px;
    z-index: $z-index-1;
  }
  &-avatarContainer {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 12px;
    &:hover {
      cursor: pointer;
      background: $blue-1;
    }
  }
  &-avatar {
    background-color: $blue-4;
  }
  &-userMenuItem {
    min-width: 160px;
  }
  &-userMenuIcon {
    margin-right: 12px;
  }

  &-notice {
    display: flex;
    align-items: center;
    padding: 0 12px;
    cursor: pointer;
    &:hover {
      background: $blue-1;
    }
  }
  &-noticeIcon {
    font-size: $font-size-lg;
  }
}
