@import 'styles/variables';

.layout-basic {
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  &-sider {
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 256px;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.15);
    &-header {
      display: flex;
      align-items: center;
      background: #002140;
      height: 48px;
      padding-left: 24px;
    }
    &-logo {
      height: 48px;
      width: 48px;
    }
    &-appName {
      color: #ffffff;
      font-weight: bold;
      font-size: $font-size-xl;
    }
    &-body {
      flex: 1;
      box-flex: 1;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      background: #001529;
    }
  }

  &-content {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: $layout-body-background;
  }
  &-header {
    width: 100%;
    height: 48px;
    background: $ui-white;
    box-shadow: $shadow-1-down-light;
    display: flex;
    justify-content: flex-end;
    padding-right: 12px;
    z-index: $z-index-1;
    &-icon {
      font-size: $font-size-xl;
    }
    &-menuItem {
      min-width: 160px;
      &-active {
        background-color: $ui-blue-lighten;
      }
    }
    &-menuIcon {
      margin-right: 12px;
    }
  }
  &-avatarContainer {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 12px;
    cursor: pointer;
  }
  &-avatar {
    background-color: $ui-blue;
  }

  &-notice {
    display: flex;
    align-items: center;
    padding: 0 12px;
    cursor: pointer;
  }
  &-intl {
    display: flex;
    align-items: center;
    padding: 0 12px 0 4px;
    cursor: pointer;
  }
  &-noticeItem {
    margin-bottom: 12px;
    padding: 4px 0;
    width: 300px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &-noticeTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
  }
  &-noticeMessage {
    font-size: $font-size-sm;
    color: $font-color-secondary;
  }
  &-noticeEmpty {
    width: 300px;
    padding: 12px 0;
    text-align: center;
  }

  &-pageHeader {
    padding: 16px 32px 0;
    background: $ui-white;
    border-bottom: 1px solid $shadow-color-light;
  }
  &-pageTitle {
    font-size: $font-size-xl;
    margin-bottom: 16px;
  }
  &-breadcrumb {
    margin-bottom: 16px;
  }

  &-mainContent {
    flex: 1;
    margin: 24px 24px 0;
  }

  &-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    margin: 48px 0 24px;
    color: $font-color-secondary;
    font-size: 14px;
  }
}
